.footer {
  padding: 40px 0;
  background-color: var(--dark-color);

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__copyright {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: rgba(255, 255, 255, 0.7);
  }

  &__phone {
    margin: 0;
  }

  &__logo {
    margin-bottom: 5px  ;
  }
}
