.offer {
  @include bg-cover;

  padding: 87px 0;
  background-color: var(--accent-color);
  background-image: url('../img/svg/precent.svg');

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

  }

  &__left {
    grid-column: 5 span;
    padding-left: 60px;

    @include tablet {
      padding: 0;
      justify-content: flex-start;
      grid-column: 12 span;
      margin-bottom: 30px;
    }
  }

  &__title {
    margin: 0;
    font-weight: 600;
    font-size: 36px;
    line-height: 130%;
    color: var(--light-color);
    margin-bottom: 20px;
  }
  &__subtitle {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: var(--light-color);
  }

  &__right {
    grid-column: 7 span;
    padding-right: 60px;
    @include tablet {
      padding: 0;
      justify-content: center;
      grid-column: 1 / 13;
    }
  }

  &__form {
    max-width: 500px;
    @include tablet {
      max-width: 80%;
      margin: 0 auto;
    }
  }
}
