.simplebar-track.simplebar-vertical {
  background: rgba(20, 16, 36, 0.08);
  border-radius: 40px;
  width: 5px;
}

.simplebar-scrollbar {
  &::before {
    left: 0;
    right: 0;
    border-radius: 40px;
    width: 5px;
    background-color: var(--dark-color) !important;
    opacity: 1;
  }
}
.simplebar-scrollbar.simplebar-visible {
  &::before {
    left: 0;
    right: 0;
    border-radius: 40px;
    width: 5px;
    background-color: var(--dark-color) !important;
    opacity: 1;
  }
}
