.tabs {
  &__nav {
    max-width: 75%;
    @include flex-all-sb;

    &-item {
      @include mobile {
        margin-bottom: 10px;
      }
    }

    &-btn {
      font-weight: 400;
      font-size: 20px;
      line-height: 160%;
      color: var(--dark-color);

      &--active {
        color: var(--accent-color);
      }

      &:focus {
        color: var(--accent-color);
        background-color: initial;
      }
    }

    @include mobile {
      flex-direction: column;
      max-width: 100%;
      align-items: flex-start;
    }

  }

  &__content {

  }

  &__panel {

  }
}
