.trainers {
  &__wrapper {
    padding-left: max(15px, calc((100% - var(--content-width)) / 2));
  }

  &__image {
    margin-bottom: 20px;
  }

  &__name {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
    color: var(--dark-color);
    margin-bottom: 10px;
  }
  &__post {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: var(--descr-color);
    margin-bottom: 20px;
  }

  &__btn {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: var(--accent-color);
  }
}
