.button {
  background-color: var(--accent-color) !important;
  color: var(--dark-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 29px;
  padding: 5px 14px !important;
  border-radius: 4px;
}
